@CHARSET "UTF-8";
div.box{border: 5px solid powderblue;margin: 0 auto;width: 600px; text-align: center;}
input.btn{height:50px; width: 200px;background-color: black;color: white;font-size: x-large;font-weight: bold;}
span.meta{width: 200px; background-color: powderblue; float: left; text-align: center;}